---
title: Home
---

<p><strong>Greetings and Welcome to Mallika's Dishes website!</strong></p>

<p>Thank you for being here. You will find nothing but <strong>The Best and Authentic Vegetarian South Indian Dishes</strong> here. This is my personal 
collection of recipes that I use <u>every day</u> at home, that I have collected over the years. I am a strict vegetarian, and you will ONLY find vegetarian recipes in here. </p>

<p>I know there are many websites and blogs out there with similar recipes, my goal is to digitize what I currently have in a small notebook (that is in a pretty bad shape), and make it accessible to me (no matter where I am), my family and friends.
Many of my family and friends ask me for recipes, and this website makes it easy for me to share and exchange new cooking ideas.</p>

<p>If you have any traditional South Indian recipes that you would like to share or want me to add to this web site, please let me know.
	I hope you get to try out new recipes!</p>

<p>The following are some of the new ones I added recently. Enjoy and don't forget to share your experience!</p>

<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			<div class="image">
				<img src="{{ post.featured_image }}" alt="{{ post.title }}">
			</div>

			{{ post.recipe.excerpt | markdownify }}

			<p><a class="button" href="{{ post.url }}">Read more</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
